<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <title>{% block title %}{{ title }}{% endblock title %}</title>
</head>

<body>
    <header>
        <nav class="flex p-4 justify-center">
            <div class="flex justify-center gap-2">
                <p class="font-primary font-bold text-white text-4xl p-2">Secrets</p>
            </div>
            <div class="flex items-center ml-20 lg:ml-96 gap-2">
                <p id="{% block nav_1_id %}{{nav_1_id}}{% endblock nav_1_id %}"
                    class="font-primary font-semibold text-white text-lg p-2 px-4 bg-green-light rounded-full cursor-pointer">
                    {% block nav_1_text %}{{nav_1_text}}{% endblock nav_1_text %}</p>
                <p id="{% block nav_2_id %}{{nav_2_id}}{% endblock nav_2_id %}"
                    class="font-primary font-semibold text-white text-lg p-2 px-4 bg-green-light rounded-full cursor-pointer">
                    {% block nav_2_text %}{{nav_2_text}}{% endblock nav_2_text %}</p>
            </div>
        </nav>
    </header>

    {% block content %}{% endblock content %}

    <footer class="pt-6 pb-2">
        <div class="flex flex-col lg:flex-row justify-center items-center">
            <div class="text-gray-600">
                <p class="font-primary font-semibold text-lg">&copy; Secrets 2022 by <span
                        class="font-bold font-primary text-xl">Ayush Sehrawat</span></p>
            </div>
            <div class="flex gap-4 text-gray-600 font-primary font-semibold text-lg ml-0 lg:ml-96 items-center">
                <p class="hover:text-white cursor-pointer">About</p>
                <p class="hover:text-white cursor-pointer">Terms</p>
                <p class="hover:text-white cursor-pointer">Support</p>
            </div>
        </div>
    </footer>
    
    <script src="/static/script.js"></script>
</body>