<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <title>Home | Secret Space</title>
</head>

<body>
    <header>
        <nav class="flex p-4 justify-center">
            <div class="flex justify-center gap-2">
                <p class="font-primary font-bold text-white text-4xl p-2">Secrets</p>
            </div>
            <div class="flex items-center ml-20 lg:ml-96 gap-2">
                <p class="font-primary font-semibold text-white text-lg p-2 px-4 bg-green-light rounded-lg cursor-pointer">Home</p>
                <p class="font-primary font-semibold text-white text-lg p-2 px-4 bg-green-light rounded-lg cursor-pointer">Logout</p>
            </div>
        </nav>
    </header>

    <script src="/static/script.js"></script>

</body>

</html>