{% extends "base.html" %}

<!--Page Title-->
{% block title %}Home{% endblock title %}

<!--Navbar-->
{% block nav_1_id %}loginButton{% endblock nav_1_id %}
{% block nav_2_id %}registerButton{% endblock nav_2_id %}

{% block nav_1_text %}Login{% endblock nav_1_text %}
{% block nav_2_text %}Register{% endblock nav_2_text %}


{% block content %}
<div class="mt-20 lg:mt-2 flex flex-col lg:flex-row items-center justify-center h-screen lg:ml-10">
    <div class="grid place-content-center">
        <p class="font-primary mx-auto text-green-dark text-xl font-semibold">Store your secrets in the cloud</p>
        <p class="font-primary mx-auto text-7xl lg:text-9xl font-bold text-white">Secrets</p>
        <p class="font-primary max-w-sm text-center mx-auto text-gray-light font-semibold text-xl">A place where you
            can safely keep your passwords and other important stuff safely</p>
    </div>
    <img src="static/images/lock.png" width="500" height="500" />
</div>
<p class="text-center text-white font-primary font-bold text-4xl lg:text-6xl">Why use &quot;Secrets&quot; ?</p>
<div class="grid grid-flow-row lg:grid-flow-col my-4 text-white gap-4 place-content-center">
    <div class="overflow-hidden text-cent bg-green-light rounded-lg max-w-sm">
        <div class="p-4 flex flex-col items-center gap-2">
            <i class="fa-solid fa-bolt-lightning text-white text-4xl"></i>
            <p class="font-primary font-semibold text-2xl">Accessibility & Reliability</p>
        </div>
        <p class="font-primary font-semibold text-white text-xl mx-4 text-center mb-4">Access your secrets from
            anywhere and anytime securely. We provide the users a hassle free environment to manage their secrets.
        </p>
    </div>
    <div class="overflow-hidden text-cent bg-green-light rounded-lg max-w-sm">
        <div class="p-4 flex flex-col items-center gap-2">
            <i class="fa-solid fa-lock text-white text-4xl"></i>
            <p class="font-primary font-semibold text-white text-2xl">Security</p>
        </div>
        <p class="font-primary font-semibold text-white text-xl mx-4 text-center mb-4">Don't worry about the
            security! Most of the stuff is done server-side and no one can access it except us.</p>
    </div>
</div>

<p class="py-4 text-center max-w-sm lg:max-w-2xl mx-auto text-white font-primary font-semibold text-4xl">So what are
    you waiting for? Register for Secrets and manage your secrets easily!</p>

<div id="loginModal"
    class="hidden font-primary top-0 left-0 fixed z-20 items-center justify-center w-screen h-screen bg-slate-300/20 backdrop-blur-sm">
    <div
        class="flex max-h-[90vh] max-w-sm flex-col gap-4 overflow-hidden rounded bg-white p-6 text-gray-light shadow-xl shadow-slate-700/10">
        <div class="grid grid-flow-col justify-between items-center place-content-center gap-4">
            <p class="font-bold text-xl">Welcome Back</p>
            <i id="closeLoginModal" class="fas fa-times cursor-pointer relative ml-auto text-green-dark text-xl"></i>
        </div>
        <form action="/call/login" method="post">
            <input type="email" name="email" id="loginemail" class="w-full p-1 border border-gray-600 rounded-lg"
                placeholder="abc@gmail.com" required>
            <label for="email" class="mx-2 font-primary font-semibold ">Email</label>

            <input type="password" name="password" id="loginpassword"
                class="w-full p-1 border border-gray-600 rounded-lg mt-2" placeholder="********" required>
            <label for="password" class="mx-2 font-primary font-semibold">Password</label>

            <button type="submit" class="w-full p-1 bg-green-light rounded-lg text-white font-bold">Login</button>
        </form>
    </div>
</div>

<div id="registerModal"
    class="hidden font-primary top-0 left-0 fixed z-20 items-center justify-center w-screen h-screen bg-slate-300/20 backdrop-blur-sm">
    <div
        class="flex max-h-[90vh] max-w-sm flex-col gap-4 overflow-hidden rounded bg-white p-6 text-gray-light shadow-xl shadow-slate-700/10">
        <div class="grid grid-flow-col justify-between items-center place-content-center gap-4">
            <p class="font-bold text-xl">Register</p>
            <i id="closeRegisterModal" class="fas fa-times cursor-pointer relative ml-auto text-green-dark text-xl"></i>
        </div>
        <form action="/call/register" method="post">
            <input type="email" name="email" id="registeremail" class="w-full p-1 border border-gray-600 rounded-lg"
                placeholder="abc@gmail.com" required>
            <label for="email" class="mx-2 font-primary font-semibold">Email</label>

            <input type="password" name="password" id="registerpassword"
                class="w-full p-1 border border-gray-600 rounded-lg mt-2" placeholder="********" required>
            <label for="password" class="mx-2 font-primary font-semibold">Password</label>

            <input type="password" name="password" id="registerconfirmpassword"
                class="w-full p-1 border border-gray-600 rounded-lg mt-2" placeholder="********" required>
            <label for="confirmpassword" class="mx-2 font-primary font-semibold">Confirm Password</label>

            <button type="submit" class="w-full p-1 bg-green-light rounded-lg text-white font-bold">Login</button>
        </form>
    </div>
</div>
{% endblock content %}